@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Recursive', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.sayfa1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(238, 227, 227);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    animation: animation-scale .5s ease-in-out forwards;
    position: relative;
    padding: 20px;
}

.header {
    background-color: transparent;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header .portfolio {
    padding: 30px 10%;
    font-size: larger;
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: animation-top 1s ease-in-out .1s forwards;
}

.header .navbar {
    padding: 30px 10%;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.header .navbar a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    font-weight: 400;
    text-underline-offset: 6px;
}

.navbar a:nth-child(1) { opacity: 0; animation: animation-top 1s ease-in-out .3s forwards; }
.navbar a:nth-child(2) { opacity: 0; animation: animation-top 1s ease-in-out .5s forwards; }
.navbar a:nth-child(3) { opacity: 0; animation: animation-top 1s ease-in-out .7s forwards; }
.navbar a:nth-child(4) { opacity: 0; animation: animation-top 1s ease-in-out .9s forwards; }
.navbar a:nth-child(5) { opacity: 0; animation: animation-top 1s ease-in-out 1.1s forwards; }

.header .navbar a.active,
.header .navbar a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.information {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information h1 {
    font-size: 40px;
    font-weight: 700;
    opacity: 0;
    animation: animation-top 1s ease-in-out 1.3s forwards;
}

.information h3 {
    font-size: 25px;
    font-weight: 700;
    opacity: 0;
    animation: animation-left 1s ease-in-out 1.5s forwards;
}

.information p {
    margin-top: 20px;
    font-size: 15px;
    opacity: 0;
    animation: animation-bottom 1s ease-in-out 1.7s forwards;
}

.information .links-wrapper {
    display: flex;
    margin-top: 20px;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.information button {
    background-color: white;
    width: 150px;
    height: 40px;
    border-radius: 150px;
    color: black;
    font-size: 17px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animation-bottom 1s ease-in-out 1.9s forwards;
    box-shadow: 0px 0px 10px rgba(255,255,255,1);
}

.information button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    box-shadow: none;
}

.information .links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.information .links a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
}

.links a:nth-child(1) { opacity: 0; animation: animation-left 1s ease-in-out 2s forwards; }
.links a:nth-child(2) { opacity: 0; animation: animation-bottom 1s ease-in-out 2.2s forwards; }
.links a:nth-child(3) { opacity: 0; animation: animation-top 1s ease-in-out 2.3s forwards; }
.links a:nth-child(4) { opacity: 0; animation: animation-right 1s ease-in-out 2.5s forwards; }

.information .links a:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px rgba(255,255,255,1);
    transform: scale(1.05);
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    box-shadow: 0px 0px 15px rgba(255,255,255,1);
    opacity: 0;
    animation: animation-scale 1s ease-in-out 2.7s forwards, image-move 2.8s ease-in-out infinite 2.9s alternate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Animasyonlar */
@keyframes animation-bottom {
